bash_*
*.sbatch
logs/
.vscode/
checkpoint/
*__pycache__*
*.ipynb_checkpoints/
*.npz
scripts/submit_multiple_jobs.py
pldm/pretrained/
pldm_envs/diverse_maze/datasets
pldm_envs/diverse_maze/data_generation/generate_all_datasets_new_test.sh
pldm_envs/diverse_maze/adaptive_waypoints/boundary_study/wandb/
pldm_envs/diverse_maze/adaptive_waypoints/boundary_study/*.log
